{{!< default}}

{{#post}}
    <div class="px-4 sm:px-6 md:px-8 mt-4">
        <div class="max-w-3xl mx-auto pb-14">
            <h1 class="text-6xl font-extrabold tracking-tight text-slate-900 dark:text-slate-200 text-center">
                {{title}}
            </h1>
            <div class="text-sm leading-6 text-center mt-2">
                <span>
                    <time datetime="{{date}}">
                        <small>{{date}}</small>
                    </time>
                </span>
            </div>
            {{#if feature_image}}
                <div class="mt-4">
                    <img src="{{img_url feature_image size="xl"}}" class="w-full rounded-xl" alt="" />
                </div>
            {{/if}}
            <div class="mt-12 prose prose-slate dark:prose-dark max-w-full">
                {{content}}
            </div>
            {{#if @custom.show_share}}
                <div class="border-y border-black my-4 py-4">
                    <div class="sharethis-inline-share-buttons"></div>
                </div>
            {{/if}}
            {{#if @custom.show_comment}}
                <div class="fb-comments" data-href="{{@site.url}}{{url}}" data-width="100%" data-numposts="5"></div>
            {{/if}}
        </div>
    </div>
{{/post}}